button {
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.pageContainer {
  display: flex;
  align-items: center;
  color: var(--color-light-100);
}

.label {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox {
  position: relative;
  width: 16px;
  height: 16px;

  &::after {
    content: '';

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36px;
    height: 36px;

    background-color: transparent;
    border-radius: 50%;
  }

  &::before {
    content: '';

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;

    background-color: var(--color-dark-700);
    border: 2px solid var(--color-light-900);
    border-radius: 2px;
  }

  &:hover::after,
  &:hover:not(.disabled)::before {
    background-color: var(--color-dark-300);
  }

  &:active::after,
  &:focus-visible::after,
  &:active:not(.disabled)::before,
  &:focus-visible:not(.disabled)::before {
    background-color: var(--color-dark-100);
  }
}

.checkbox.disabled.checked::before {
  background-color: var(--color-light-100);
}

.indicator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    position: absolute;
    z-index: 3;
    top: -8px;

    width: 16px;
    height: 16px;
  }
}

.disabled {
  cursor: default;
  color: var(--color-dark-100);
  border-color: var(--color-dark-100);

  &::before {
    border-color: var(--color-dark-100);
  }

  &:hover::after {
    all: unset;
  }
}
