button {
  all: unset;
}

.selectBox {
  position: relative;

  .label {
    color: var(--color-dark-100);
  }
}

.selectTrigger {
  cursor: pointer;
  user-select: none;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding: 6px 12px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &.pagination {
    padding: 0 4px 0 6px;
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);
  }

  &:hover {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-100);
  }

  &:focus {
    border-color: transparent;
    outline: 2px solid var(--color-info-700);
  }
}

.selectTrigger[data-disabled] {
  cursor: default;
  color: var(--color-dark-300);
  border: 1px solid var(--color-dark-300);

  &:hover {
    background: transparent;
  }
}

.selectIcon {
  display: flex;
  align-items: center;
}

.selectTrigger[data-state='open'] {
  border: 1px solid var(--color-dark-100);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  .selectIcon {
    transform: rotate(180deg);
  }

  &.pagination {
    border: 1px solid var(--color-dark-500);
  }
}

.selectContent {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-width);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-100);
  border-radius: 0 0 2px 2px;

  &.pagination {
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);
  }
}

.selectItem {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  padding: 6px 12px;

  color: var(--color-light-100);

  &.pagination {
    padding: 0 4px 0 6px;
  }
}

.selectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
  outline: none;
}
