@mixin reset {
  all: unset;
}

.outerContainer {
  width: 100%;
  border: 1px solid var(--color-dark-500);
}

.table {
  border-spacing: 0;
  width: 100%;

  & tr::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--color-dark-500);
  }
}

.trow {
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-dark-700);
  }
}

.tCellControlsWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    background: transparent;
    border: none;
    border-radius: 50px;

    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      background-color: var(--color-dark-500);
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.6;
    }
  }
}

.tHeadCell {
  cursor: pointer;

  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  color: var(--color-light-100);
  text-align: left;

  background-color: var(--color-dark-500);

  transition: all 0.2s;

  &:hover {
    background-color: var(--color-dark-300);
  }

  &[id='controls'] {
    pointer-events: none;
  }
}

.tHeadCellWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.tCell {
  position: relative;

  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  color: var(--color-light-100);

  background: transparent;

  &[id='name'] {
    display: flex;

    & > a {
      @include reset;

      cursor: pointer;

      display: inline-flex;
      gap: 10px;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      height: 100%;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &[id='cardsCount'] {
    max-width: 150px;
  }

  &[id='updatedDeck'] {
    max-width: 180px;
  }

  &[id='created'] {
    max-width: 200px;
  }

  &[id='controls'] {
    align-items: center;
    justify-content: center;
    padding: 6px;
  }

  &[id='answer'],
  &[id='question'] {
    max-width: 301px;
    height: 75px;
    padding: 6px 10px 6px 110px;

    img {
      position: absolute;
      top: 12px;
      left: 24px;

      max-width: 70px;
      height: 50px;

      object-fit: cover;
      border-radius: 3px;
    }

    span {
      display: block;
      word-break: break-word;
      vertical-align: top;
    }
  }
}

.tableCellImage {
  height: 40px;
}

.star {
  color: var(--color-warning-500);
}

.starOutline {
  stroke: var(--color-warning-500);
}

.emptyTable {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
