.pageContainer {
  width: 100%;
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto 30px;
  padding: 96px 12px 0;
}

.cardContainer {
  max-width: 420px;
  margin-top: calc(36px + var(--header-height));
  margin-right: auto;
  margin-left: auto;
}
