.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  place-content: center center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  color: inherit;

  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    color: var(--color-light-900);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.primary {
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    background-color: var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
}
