.container {
  display: inline-block;
}

.input {
  margin-bottom: 24px;
}

.inputTypeFileWrapper {
  display: block;
  margin-bottom: 10px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.uploadBtn {
  margin: 24px 0;
}
