.filtersContainer {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  justify-content: space-between;

  margin-bottom: 36px;

  .searchInput {
    width: 300px;
  }

  .clearFilterBtn {
    white-space: nowrap;
  }
}

.decksHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.table {
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid var(--color-dark-500);
}
