.wrapperWithControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  .title {
    cursor: default;
  }

  .titleWithDropDownContainer {
    display: flex;
    gap: 6px;
    align-items: center;
  }
}

.image {
  width: 170px;
  border-radius: 2px;
}
