.container {
  h1 {
    margin-bottom: 50px;
    font-size: 26px;
    line-height: 36px;
  }
}

.input {
  margin-bottom: 20px;
}

.formInfo {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-dark-100);
}

.submitBtn {
  margin-top: 65px;
}

.questionText {
  margin-top: 20px;

  font-size: 14px;
  line-height: 24px;
  color: var(--color-light-900);
  text-align: center;
}

.link {
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
