.container {
  h1 {
    margin-bottom: 50px;
    line-height: 36px;
  }
}

.input {
  margin-bottom: 20px;
}

.formInfo {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-dark-100);
}

.submitBtn {
  margin-top: 65px;
}

.questionText {
  margin-top: 20px;

  font-size: 14px;
  line-height: 24px;
  color: var(--color-light-900);
  text-align: center;
}

.link {
  cursor: pointer;

  margin-top: 10px;

  font-size: 14px;
  line-height: 24px;
  color: var(--color-accent-500);
  text-align: center;
  text-decoration: underline;
}
