@mixin reset {
  all: unset;
}

.h1 {
  @include reset;

  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}

.h2 {
  @include reset;

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}

.h3 {
  @include reset;

  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}

.h4,
.subtitle1 {
  @include reset;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

.body1 {
  @include reset;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
}

.body2 {
  @include reset;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
}

.subtitle2 {
  @include reset;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
}

.caption {
  @include reset;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
}

.overline {
  @include reset;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-s);
}

.link1,
.link2 {
  @include reset;

  cursor: pointer;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  color: var(--color-info-500);
  text-decoration-line: underline;
}

.link1:visited,
.link2:visited {
  color: var(--color-accent-500)
}

.link2 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
}
