.container {
  h1 {
    margin-bottom: 26px;
  }
}

.input {
  margin-bottom: 24px;
}

.forgotPasswordLink {
  cursor: pointer;

  display: block;
  align-self: flex-end;

  width: max-content;
  margin-bottom: 60px;
  margin-left: auto;
}

.submit {
  margin-bottom: 20px;
}

.noAccountText {
  cursor: default;
  margin-bottom: 10px;
  color: var(--color-light-900);
  text-align: center;
}

.signUpLink {
  cursor: pointer;
  color: var(--color-accent-500);
  text-align: center;
  text-decoration-line: underline;
}
